.Table{
    width: 70vw;
    margin: 0 auto;
    margin-top: 5%;
}

.Details{
    width: 50vw;
    margin: 0 auto;
}

.returnButton{
    width: 70px;
    height: 30px;
    background-color: lightgrey;
    text-align: center;
    font-size: large;
    border-width: 0;
    border-radius: 10%;
    margin: 10px 0px 0px 10px;
}

.returnButton:hover{
    background-color: rgb(170, 169, 169);
}

.nameUnderline{
    text-decoration: underline;
}

.nameUnderline:hover {
    text-decoration:none;
}