.navlist{
    list-style: none;
    display: flex;
}

ul{
    padding-inline-start: 20px;
}

.navitem {
    margin: auto 20px;
  }

.navbar{
    background-color: rgb(17, 181, 17);
}

.link{
    color: white;
    text-decoration: none;
}